appnope==0.1.2
argon2-cffi==20.1.0
attrs==20.3.0
backcall==0.2.0
bleach==3.3.0
bokeh==1.4.0
box2d-py==2.3.8
certifi==2020.6.20
cffi==1.14.5
cloudpickle==1.6.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
EasyProcess==0.3
entrypoints==0.3
future==0.18.2
gym==0.17.3
importlib-metadata==2.1.1
ipykernel==5.4.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.17.2
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.6.3
kiwisolver==1.1.0
livelossplot==0.5.3
MarkupSafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.1.2
notebook==6.2.0
numpy==1.17.5
packaging==20.9
pandocfilters==1.4.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
prometheus-client==0.9.0
prompt-toolkit==2.0.10
ptyprocess==0.7.0
pycparser==2.20
pyglet==1.5.0
Pygments==2.8.0
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
PyVirtualDisplay==2.0
PyYAML==5.3.1
pyzmq==20.0.0
scipy==1.4.1
Send2Trash==1.5.0
six==1.15.0
terminado==0.8.3
testpath==0.4.4
torch==1.1.0
torchvision==0.3.0
tornado==6.1
traitlets==4.3.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==1.2.0
